In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("carbon_footprint_data.csv")

In [16]:
print("Shape:", df.shape)

Shape: (1020, 16)

In [17]:
df.head()

,private_km_per_week,fuel_type,public_km_per_week,electricity_per_month_kwh,uses_renewable_energy,meat_frequency,dairy_frequency,short_flights_per_year,long_flights_per_year,clothing_shopping_freq,electronics_shopping_freq,recycles_regularly,waste_kg_per_week,household_size,home_type,annual_carbon_footprint_tonnes
0,315.0,Electric,223,576.0,0,Monthly,Daily,6,1,Quarterly,Never,1,10.46,2,Independent,0.11
1,278.0,Electric,292,50.0,1,Weekly,Weekly,1,4,Never,Monthly,1,9.21,3,Apartment,0.07
2,35.0,CNG,266,654.0,0,Monthly,Occasionally,3,4,Never,Rarely,1,14.43,4,Independent,0.10
3,160.0,Petrol,246,784.0,1,Daily,Occasionally,7,0,Monthly,Rarely,1,16.25,7,Rented Room,0.12
4,88.0,Diesel,48,299.0,0,Weekly,Weekly,6,3,Rarely,Rarely,0,5.38,6,Independent,0.06

In [18]:
df.isnull().sum()

private_km_per_week               51
fuel_type                          0
public_km_per_week                 0
electricity_per_month_kwh         50
uses_renewable_energy              0
meat_frequency                    50
dairy_frequency                    0
short_flights_per_year             0
long_flights_per_year              0
clothing_shopping_freq             0
electronics_shopping_freq          0
recycles_regularly                 0
waste_kg_per_week                  0
household_size                     0
home_type                          0
annual_carbon_footprint_tonnes     0
dtype: int64

In [19]:
df.duplicated().sum()

np.int64(20)

In [20]:
df = df.drop_duplicates()

In [21]:
df.duplicated().sum()

np.int64(0)

In [22]:
print("Shape:", df.shape)

Shape: (1000, 16)

In [23]:
df['private_km_per_week'].fillna(df['private_km_per_week'].mean(), inplace=True)

/var/folders/h_/833jl6755tjcbwvsbz1qd8tr0000gn/T/ipykernel_25493/665466633.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['private_km_per_week'].fillna(df['private_km_per_week'].mean(), inplace=True)

In [26]:
df['electricity_per_month_kwh'].fillna(df['electricity_per_month_kwh'].mean(), inplace=True)

/var/folders/h_/833jl6755tjcbwvsbz1qd8tr0000gn/T/ipykernel_25493/1915230597.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['electricity_per_month_kwh'].fillna(df['electricity_per_month_kwh'].mean(), inplace=True)

In [27]:
df.isnull().sum()

private_km_per_week                0
fuel_type                          0
public_km_per_week                 0
electricity_per_month_kwh          0
uses_renewable_energy              0
meat_frequency                    50
dairy_frequency                    0
short_flights_per_year             0
long_flights_per_year              0
clothing_shopping_freq             0
electronics_shopping_freq          0
recycles_regularly                 0
waste_kg_per_week                  0
household_size                     0
home_type                          0
annual_carbon_footprint_tonnes     0
dtype: int64

In [28]:
df['meat_frequency'].fillna(df['meat_frequency'].mode()[0], inplace=True)

/var/folders/h_/833jl6755tjcbwvsbz1qd8tr0000gn/T/ipykernel_25493/4262764701.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['meat_frequency'].fillna(df['meat_frequency'].mode()[0], inplace=True)

In [30]:
df['meat_frequency'].mode()

0    Never
Name: meat_frequency, dtype: object

In [29]:
df.isnull().sum()

private_km_per_week               0
fuel_type                         0
public_km_per_week                0
electricity_per_month_kwh         0
uses_renewable_energy             0
meat_frequency                    0
dairy_frequency                   0
short_flights_per_year            0
long_flights_per_year             0
clothing_shopping_freq            0
electronics_shopping_freq         0
recycles_regularly                0
waste_kg_per_week                 0
household_size                    0
home_type                         0
annual_carbon_footprint_tonnes    0
dtype: int64

In [31]:
categorical_cols = df.select_dtypes(include='object').columns
print("Categorical Columns:")
print(categorical_cols)
print("\nTotal:", len(categorical_cols))

Categorical Columns:
Index(['fuel_type', 'meat_frequency', 'dairy_frequency',
       'clothing_shopping_freq', 'electronics_shopping_freq', 'home_type'],
      dtype='object')

Total: 6

In [32]:
df = pd.get_dummies(df, columns=[
    'fuel_type', 'meat_frequency', 'dairy_frequency',
    'clothing_shopping_freq', 'electronics_shopping_freq', 'home_type'
], drop_first=True)

In [33]:
df.shape

(1000, 28)

In [34]:
df.head()

,private_km_per_week,public_km_per_week,electricity_per_month_kwh,uses_renewable_energy,short_flights_per_year,long_flights_per_year,recycles_regularly,waste_kg_per_week,household_size,annual_carbon_footprint_tonnes,...,dairy_frequency_Weekly,clothing_shopping_freq_Never,clothing_shopping_freq_Quarterly,clothing_shopping_freq_Rarely,electronics_shopping_freq_Never,electronics_shopping_freq_Rarely,electronics_shopping_freq_Yearly,home_type_Bungalow,home_type_Independent,home_type_Rented Room
0,315.0,223,576.0,0,6,1,1,10.46,2,0.11,...,False,False,True,False,True,False,False,False,True,False
1,278.0,292,50.0,1,1,4,1,9.21,3,0.07,...,True,True,False,False,False,False,False,False,False,False
2,35.0,266,654.0,0,3,4,1,14.43,4,0.10,...,False,True,False,False,False,True,False,False,True,False
3,160.0,246,784.0,1,7,0,1,16.25,7,0.12,...,False,False,False,False,False,True,False,False,False,True
4,88.0,48,299.0,0,6,3,0,5.38,6,0.06,...,True,False,False,True,False,True,False,False,True,False

In [35]:
categorical_cols = df.select_dtypes(include='object').columns
print("Categorical Columns:")
print(categorical_cols)
print("\nTotal:", len(categorical_cols))

Categorical Columns:
Index([], dtype='object')

Total: 0

In [36]:
# Only convert bool columns to int
bool_cols = df.select_dtypes(include='bool').columns
df[bool_cols] = df[bool_cols].astype(int)

In [37]:
df.head()

,private_km_per_week,public_km_per_week,electricity_per_month_kwh,uses_renewable_energy,short_flights_per_year,long_flights_per_year,recycles_regularly,waste_kg_per_week,household_size,annual_carbon_footprint_tonnes,...,dairy_frequency_Weekly,clothing_shopping_freq_Never,clothing_shopping_freq_Quarterly,clothing_shopping_freq_Rarely,electronics_shopping_freq_Never,electronics_shopping_freq_Rarely,electronics_shopping_freq_Yearly,home_type_Bungalow,home_type_Independent,home_type_Rented Room
0,315.0,223,576.0,0,6,1,1,10.46,2,0.11,...,0,0,1,0,1,0,0,0,1,0
1,278.0,292,50.0,1,1,4,1,9.21,3,0.07,...,1,1,0,0,0,0,0,0,0,0
2,35.0,266,654.0,0,3,4,1,14.43,4,0.10,...,0,1,0,0,0,1,0,0,1,0
3,160.0,246,784.0,1,7,0,1,16.25,7,0.12,...,0,0,0,0,0,1,0,0,0,1
4,88.0,48,299.0,0,6,3,0,5.38,6,0.06,...,1,0,0,1,0,1,0,0,1,0

In [38]:
df.to_csv("cleaned_carbon_footprint_data.csv", index=False)